.head {
  padding: 0;
  margin: 15px 0 15px 0;
  max-height: 10vh;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: row;
}

.connecting {
  margin: 20px 32px;
  display: flex;
  justify-content: center;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tableArea {
  margin-top: 35px;
  width: 100%;
  min-width: 400px;
  display: flex;
  min-height: 70vh;
  padding: 0 !important;
}
.playersArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 !important;
}

.cardsTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #1a2935;
  margin-top: 30px !important;
  padding: 0 !important;
}

.cardsArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top:  !important; */
}
